<!DOCTYPE html>

<html lang="ru">
<head>

    <meta charset="UTF-8">

    <title>REST API TMS</title>
    <style>
        #centerLayer {
            position: absolute;
            width: 40%;
            height: 30%;
            left: 50%;
            top: 50%;
            margin-left: -20%;
            margin-top: -15%;
            background: #E6E6FA;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="centerLayer">
    <h1>Greetings!</h1>
    To try the API follow this <a href="http://localhost:8080/swagger-ui/index.html">link</a>
</div>
</body>

</html>